* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
	width:100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    background-color: #f9f9f9;
}

a {
	outline:none;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.main-nav {
	display: flex;
	justify-content: space-between;
}

.nav-izq-head {
    display: flex;
}

.nav-links-izq {
    display: flex;
    align-items: center;
    margin-left: 2em;
}

.nav-links-izq li {
    list-style: none;
    margin: 0 1.2em;
}

.nav-links-izq li a {
    text-decoration: none;
    color: #7acadc;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    list-style: none;
    margin: 0 1.2em;
}

.nav-links li a {
    text-decoration: none;
    color: #7acadc;
}

.login-btn {
    background-color: #D8DF20;
    color: white !important;
    padding: 7px 1.2em;
    border-radius: 1.5em;
}

.menu-nav {
    width: 100%;
    background-color: white;
    padding: .5em 0;
    -webkit-box-shadow: 0px 4px 7px 0px rgba(181,229,238,1);
-moz-box-shadow: 0px 4px 7px 0px rgba(181,229,238,1);
box-shadow: 0px 4px 7px 0px rgba(181,229,238,1);
}

.container {
	width:80%;
	margin:0 auto;
}

.slider {
    width: 100%;
    background-image: url(../img/nubes.png), linear-gradient(to bottom, #90ced8 0%,#4499aa 100%);
    background-size: cover;
    background-position: top;
    height: 84vh;
}

.d-flex-sec {
    display: flex;
    flex-direction: column;
    height: 84vh;
}

.main-btns-slide {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-bottom: 2em;
}

.main-btns-slide a {
    margin: 2em;
}

.btn-ver-cursos {
    background-color: #D8DF20;
    padding: 1.5em 5em;
    text-decoration: none;
    color: white;
    border-radius: 2em;
    border: 2px solid #D8DF20;
    transition: all .5s;
}

.btn-ver-cursos:hover {
    background-color: transparent;
    border: 2px solid #D8DF20;
}

.btn-suscripcion {
    background-color: transparent;
    padding: 1.5em 5em;
    text-decoration: none;
    color: #ffffff;
    border-radius: 2em;
    border: 2px solid #ffffff;
}

.heding-text {
    display: flex;
    flex: 1.2;
    align-items: center;
}

.heding-text h1 {
    font-weight: 700;
    color: white;
    font-size: 5em;
}

.heding-text h1 span {
    color: #D8DF20;
}

.learning {
    width: 100%;
    background: -webkit-linear-gradient(left, #214f59 50%,#f3f3f3 50%,#f3f3f3 100%);
    background: linear-gradient(to right, #214f59 50%,#f3f3f3 50%,#f3f3f3 100%);
}

.d-flex-learn {
    display: flex;
}

.learn-izq {
    flex: 1;
}
.learn-der {
    flex: 1;
    margin-left: 3em; 
}

.learn-izq h2 {
    color: white;
    font-weight: 500;
    margin: 2em 0;
}

.content-box {
    display: flex;
    padding: 1.2em;
    margin-right: 2em;
    margin-bottom: 2em;
    border-radius: .5em;
    background-color: #214f59;
    transition: all .5s;
    cursor: pointer;
}

.content-box:hover {
    -webkit-box-shadow: 0px 2px 10px 2px rgb(20, 44, 49, .5);
    -moz-box-shadow: 0px 2px 10px 2px rgb(20, 44, 49, .5);
    box-shadow: 0px 2px 10px 2px rgb(20, 44, 49, .5);
}

.content-tut-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2em;
}

.content-tut-text h3 {
    color: #D8DF20;
    font-weight: 500;
}

.content-tut-text p {
    color: #f3f3f3;
    margin: .8em 0;
}

.tags {
    display: flex;
}

.tag-unitario {
    background-color: #7acadc;
    padding: 8px 1em;
    margin: .8em;
    color: white;
    border-radius: 1em;
}

.btn-more-tut {
    margin: 2em 2em 4em 0;
    text-align: right; 
}

.btn-more-tut a {
    background-color: #D8DF20;
    padding: .7em 2em;
    text-decoration: none;
    color: white;
    border-radius: 2em;
    border: 2px solid #D8DF20;
}

.learn-der h2 {
    color: #404040;
    font-weight: 500;
    margin: 2em 0 2em 1em;
}

.content-cur-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2em;
}

.content-cur-text h3 {
    font-weight: 500;
}

.content-cur-text p {
    margin: .8em 0;
}

.content-box-cursos {
    display: flex;
    padding: 1.2em;
    border-radius: .5em;
    margin-left: 2em;
    margin-bottom: 2em;
    background-color: #ffffff;
    transition: all .5s;
    cursor: pointer;
    -webkit-box-shadow: 0px 2px 4px 0px rgb(208, 208, 208, .5);
    -moz-box-shadow: 0px 2px 4px 0px rgb(208, 208, 208, .5);
    box-shadow: 0px 2px 4px 0px rgb(208, 208, 208, .5);
}

.content-box-cursos:hover {
    -webkit-box-shadow: 0px 2px 15px 2px rgb(208, 208, 208, 1);
    -moz-box-shadow: 0px 2px 15px 2px rgb(208, 208, 208, 1);
    box-shadow: 0px 2px 15px 2px rgb(208, 208, 208, 1);
}

.blog-post {
    width: 100%;
    height: 500px;
    background-color: #f3f3f3;
}

.cards-post {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-post {
    margin: 0 .4em;
    border-radius: .5em;
    background-color: #ffffff;
    transition: all .5s;
    cursor: pointer;
    -webkit-box-shadow: 0px 2px 4px 0px rgb(208, 208, 208, .5);
    -moz-box-shadow: 0px 2px 4px 0px rgb(208, 208, 208, .5);
    box-shadow: 0px 2px 4px 0px rgb(208, 208, 208, .5);
}

.tit-ul-post {
    color: #404040;
    font-weight: 500;
    padding: 2em 0;
}

.padd-card {
    padding: 1.2em;
}

.img-resp {
    max-width: 100%;
    height: auto;
}

.footer {
    width: 100%;
    background-color: #ffffff;
}

.d-flex-footer {
    padding: 2em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-nav {
    display: none;
}


.img-container {
    align-self: center;
}



/*SECCIÓN CURSOS*/

.titulo-seccion {
    width: 100%;
    background: linear-gradient(to bottom, #90ced8 0%,#4499aa 100%);
    height: 20vh;
}

.heding-text-cursos {
    height: 20vh;
    display: flex;
    flex: 1;
    align-items: center;
}

.heding-text-cursos h1 {
    font-weight: 700;
    color: white;
    font-size: 4em;
}

.heding-text-cursos h1 span {
    color: #D8DF20;
}

.lista-cursos {
    width: 100%;
    background-color: #f3f3f3;
}

.inner-lista-cursos {
    padding: 2em 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.curso-individual-container {
    display: flex;
    padding: 2em;
    margin: 0 4em 1em 4em;
    border-radius: 1em;
    align-items: center;
    cursor: pointer;
    transition: all .3s;
}

.curso-individual-container:hover {
    -webkit-box-shadow: 0px 12px 28px 2px rgb(180, 180, 180, 1);
    -moz-box-shadow: 0px 12px 28px 2px rgb(180, 180, 180, 1);
    box-shadow: 0px 12px 28px 2px rgb(180, 180, 180, 1);
}

.image-course-icon {
    margin-right: 2em;
    display: flex;
}

.icons-text-right {
    display: flex;
    flex-direction: column;
}

.icon-desc-curso {
    display: flex;
}

.lado-texto-card-curso {
}

.lado-texto-card-curso h5 {
    color: #D8DF20;
    font-size: 1em;
}

.lado-texto-card-curso h2 {
    font-size: 3em;
}

.icon-desc-curso div {
    margin: 1em .8em 1em 0;
}

.icon-desc-curso div i {
    margin-right: .5em;
}

.color-selected-level {
    color: #D8DF20;
}

.desc-curso-paragraf {
    padding: 1em 2em 1em 0;
}

/*MEDIA QUERY'S*/

@media (max-width: 1530px) {
    .icon-desc-curso {
        flex: 1;
    }

    .desc-curso-paragraf {
        flex: 2;
    }
}

@media (max-width: 1400px) {
    .content-box-cursos {
        margin-left: 1em;
    }

    .content-box {
        margin-right: 1em;
    }
}

@media (max-width: 1360px) {
    .heding-text h1 {
        font-size: 4em;
    }
}

@media (max-width: 1300px) {
    .content-box-cursos {
        margin-left: 0;
    }

    .content-box {
        margin-right: 0;
    }

    .learn-der h2 {
        margin: 2em 0 2em 0;
    }
}

@media (max-width: 1280px) {
    .btn-ver-cursos {
        padding: 1.3em 4em;
    }

    .btn-suscripcion {
        padding: 1.3em 4em;
    }

    .content-box {
        padding: 1em;
    }


    .content-box-cursos {
        padding: 1em;
    }
}

@media (max-width: 1120px) {
    .learning {
        width: 100%;
        background: -webkit-linear-gradient(top, #214f59 50%,#f3f3f3 50%,#f3f3f3 100%);
        background: linear-gradient(to bottom, #214f59 50%,#f3f3f3 50%,#f3f3f3 100%);
    }
    .d-flex-learn {
        flex-direction: column;
    }
}

@media (max-width: 1100px) {
    .curso-individual-container {
        margin: 0 3em 1em 3em;
    }
}

@media (max-width: 1024px) {
    .blog-post {
        height: auto;
    }

    .cards-post {
        flex-direction: column;
    }

    .card-post {
        margin-bottom: 1em;
    }

    .heding-text h1 {
        font-size: 3.5em;
    }

    .curso-individual-container {
        margin: 0 2em 1em 2em;
    }
}

@media (max-width: 976px) {
    .mobile-nav {
        display: inline;
    }
    .nav-links-izq {
        display: none;
    }

    .curso-individual-container {
        margin: 0 1em 1em 1em;
    }

    .heding-text-cursos h1 {
        font-size: 3em;
    }
}

@media (max-width: 896px) {
    .heding-text h1 {
        font-size: 3.3em;
    }
    .curso-individual-container {
        margin: 0 0 1em 0;
    }
}

@media (max-width: 848px) {
    .heding-text h1 {
        font-size: 2.8em;
        text-align: center;
    }

    .curso-individual-container {
        padding: 1em;
    }

    .lado-texto-card-curso h2 {
        font-size: 2em;
    }
}

@media (max-width: 750px) {
    .desc-curso-paragraf {
        padding: .5em 0 .5em 0;
    }
}
@media (max-width: 722px) {
    .btn-ver-cursos {
        padding: 1em 3em;
    }

    .btn-suscripcion {
        padding: 1em 3em;
    }
}

@media (max-width: 650px) {
    .image-course-icon img {
        width: 140px;
        height: 140px;
    }

    .lado-texto-card-curso h2 {
        font-size: 1.5em;
    }

    .desc-curso-paragraf p {
        font-size: .9em;
    }

    .icon-desc-curso div {
        margin: 1em .8em .5em 0;
    }

    .lado-texto-card-curso h5 {
        font-size: .8em;
    }

    .heding-text-cursos h1 {
        font-size: 2em;
    }

    .titulo-seccion {
        height: 18vh;
    }

    .heding-text-cursos {
        height: 18vh;
    }

    .slider {
        height: 74vh;
    }

    .d-flex-sec {
        height: 74vh;
    }

    .heding-text h1 {
        font-size: 2.5em;
    }

    .main-btns-slide {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    

    .nav-izq-head a svg {
        width: 70px;
        height: 70px;
    }

    .login-btn {
        padding: 5px 1em;
    }

    .tag-unitario {
        padding: 6px .8em;
        margin: .6em;
    }

    .foot-right a svg {
        width: 70px;
        height: 70px;
    }

    .btn-more-tut a {
        padding: .6em 1.5em;;
    }
}

@media (max-width: 570px) {
    .heding-text h1 {
        font-size: 2.2em;
    }
}